@tailwind base;
@tailwind components;
@tailwind utilities;

/*  background gradient effect */
.bg-gradient{
    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
}

/* background gradient effect for button */
.button-bg-gradient{
    background: linear-gradient(180deg, #06286E 0%, #164EC0 100%);
}
.button-bg-gradient:hover{
    background: linear-gradient(180deg, #0d47b9 0%, #3e79ee 100%);
}

/* Text gradient effect */
.text-gradient{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* study card background gradient effect */
.study-gradient{
    background: linear-gradient(222.94deg, #051A91 -4.31%, #061C93 14.41%, #2284F1 81.88%, #1F80EB 103.81%);
}


.border-gradient{
    padding:1px;
    border-radius: 1.3vw;
    background: linear-gradient(90.26deg, #217EEC -1.17%, #082299 102.11%);
}


